{% extends 'base.html' %}

{% block title %} Cat or not - Team {% endblock %}



{% block content %}
<div class="card border-0 shadow my-5">
            <div class="card-body p-5">
<h1 class="display-4 text-center">Project Team</h1>
<hr class="my-4">
<p class="lead">Jerzy Kwiatkowski - Project Manager, System Analyst</p>
<p class="lead">Aleksandra Malejka - Process Engineer, System Analyst</p>
<p class="lead">Artur Ziętkiewicz - Software Architect</p>
<p class="lead">Konrad Przysowa - Software Architect</p>
<p class="lead">Serhii Hrosh - Integrator</p>
<p class="lead">Jakub Sobkiewicz - System Administrator</p>
<p class="lead">Tomasz Torchalski - Test Manager</p>
<p class="lead">Daniil Karunou - User-interface Developer, Implementator</p>
<p class="lead">Paweł Łączkowski - Course Developer, System Tester</p>
<p class="lead">Yurii Borodiukh - Course Developer</p>
<p class="lead">Joanna Ładyko - System tester</p>
<p class="lead">Michał Szczygieł - Implementator</p>
<p class="lead">Dominik Mikołajczyk - Implementator</p>
<hr class="my-4">
            <p class="lead mb-0 text-right">UAM, Software engineering, 2021/22</p>
                    </div>
        </div>
{% endblock %}
