{% extends 'base.html' %}

{% block title %} Cat or not - Analizator {% endblock %}

{% block script %}
<script>
function uploadFile(target) {
    document.getElementById("file-name").innerHTML = target.files[0].name;
    document.getElementsByClassName("file-button").style.pointerEvents='none';
}
</script>
{% endblock %}



{% block content %}
<div class="card border-0 shadow my-5">
            <div class="card-body p-5">
<h1 class="display-4 text-center">Analizator</h1>
<hr class="my-4">
<p class="lead">For analize your photo load it below(supported extensions: <i>.jpg</i>, <i>.png</i>, <i>.bmp</i>)! After load photo pressing the button <b class="text-primary"><i>Analize!</i></b> Warning! Aplplication supported files up to 4MB only!</p>
<hr class="my-4">
<form class="text-center" method="POST" enctype="multipart/form-data" id="form" action="{{ url_for('result') }}">
    <div class="form-group">
        <div class="custom-file">
            <label for="file" class="file-label">Load the photo: </label> <br> <br>
            <input type="file" id="file" class="form-control-file border border-primary border-3 rounded" onchange='uploadFile(this)' name="file" accept=".jpg, .jpeg, .png, .bmp">
        </div>
    </div>
    <div class="form-group">
        <button type="file" id="analyze-button" class="btn btn-primary">Analize!</button>
    </div>
</form>


                {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div>
                <ul class="list-group">
            {% for message in messages %}
              <li class="list-group-item list-group-item-danger" style="padding:3px 0;">{{ message }}</li>
            {% endfor %}
                </ul>
            </div>
          {% endif %}
        {% endwith %}

      {% if id %}
        {% set count = 0 %}
                <hr class="my-4">
        <div class="list-group">
        {% for i in range(id) %}
            {% set count = i + 1 %}
            <a href="{{url_for('results', id=count)}}" class="list-group-item list-group-item-action list-group-item-primary"  style="padding:3px 0;">{{ message }}Result number: {{count}}</a>
        {% endfor %}
        </div>
      {% endif %}
<hr class="my-4">
            <p class="lead mb-0 text-right">UAM, Software engineering, 2021/22</p>
                    </div>
        </div>
{% endblock %}
